* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.appContainer {
  margin: 0 12% 0 12%;
}

h1 {
  color: var(--primary);
  font-family: "Etna";
  font-size: 2.6rem;
}

h2 {
  color: var(--primary);
  font-size: 200%;
}

h3 {
  color: var(--primary);
  font-size: 200%;
}

h4 {
  color: var(--primary);
  font-size: 200%;
}

.wideText {
  font-family: "Agrandir Wide Light";
}

.maxw80 {
  width: 80%;
}

.maxw90 {
  width: 90%;
}

.color {
  color: var(--accent);
}

body {
  font-family: "Agrandir";
  margin: 0;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
}

.button {
  border-radius: 25px;
  background: rgb(190, 140, 223);
  background: linear-gradient(
    90deg,
    rgba(190, 140, 223, 1) 0%,
    rgba(121, 41, 155, 1) 100%
  );
  width: 200px;
  height: 50px;
  color: var(--secondary);
  margin-top: 3%;
  margin-bottom: 5%;
  transition: transform 1.5s;
}

.button:hover {
  transform: scale(1.05);
}

.br {
  border-right: 3px solid var(--primary);
  margin: 0 10px;
}

.bb {
  border-bottom: 3px solid var(--primary);
  margin: 20px 0;
}

.TitleContainerAccent,
.TitleContainerSecondary {
  margin: 0 0 60px 0;
  width: fit-content;
  height: fit-content;
  border: solid 5px black;
  display: flex;
  border-radius: 10px;
  box-shadow: var(--primary) 4px 4px;
  .Title {
    margin: 0 12px 12px 12px;
    @media screen and (max-width: 900px) {
      margin: 8px;
    }
  }
}
.TitleContainerAccent {
  background-color: var(--accent);
}

.TitleContainerSecondary {
  background-color: var(--secondary);
}
