* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.appContainer {
  margin: 0 5%;
}

h1 {
  color: var(--primary);
  font-family: "Etna";
  font-size: 300%;
}

h2 {
  color: var(--primary);
  font-size: 200%;
}

h3 {
  color: var(--primary);
  font-size: 200%;
}

h4 {
  color: var(--primary);
  font-size: 200%;
}

.wideText {
  font-family: "Agrandir Wide Light";
}

.maxw80 {
  width: 80%;
}

.color {
  color: var(--accent);
}

body {
  font-family: "Agrandir";
  margin: 0;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
}

.button {
  border-radius: 25px;
  background: var(--accent);
  width: 200px;
  height: 50px;
  color: var(--secondary);
  margin-top: 3%;
  margin-bottom: 3%;
}

.br {
  border-right: 3px solid var(--primary);
  margin: 0 10px;
}

.bb {
  border-bottom: 3px solid var(--primary);
  margin: 20px 0;
}
