.agencyContainer {
  margin: 50px 0;

  .middleContainer {
    width: 20%;

    .verticalBorder {
      border-left: 3px solid var(--primary);
    }
  }

  .stepContainer {
    width: 100%;

    .topBorder {
      border-top: 3px solid var(--primary);
      width: 20%;
    }

    .blankSpace {
      width: 20%;
    }

    .stepText,
    .stepNumber {
      width: 40%;
    }

    .stepNumber {
      font-size: 20rem;
      opacity: 0.25;
      //CHECK HERE FOR THE CSS NUMBER AND SPACE BEFORE AND AFTER TEXT
      line-height: 90%;
    }
  }
}
