.atout {
  .icon {
    // border: 5px solid green;
    width: 30%;
    font-size: 150%;
    min-height: 20%;
    max-height: 30%;
  }

  .title {
    // border: 5px solid purple;
    width: 70%;
  }

  .text {
    // border: 5px solid red;
    width: 70%;
    margin-top: 5%;
  }
}
