.errContainer {
  padding: 60px 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 900px) {
    height: fit-content;
  }
  .errText {
    font-family: "Etna";
    font-size: 2rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 900px) {
      font-size: 1.2rem;
      justify-content: flex-start;
      align-items: center;
    }

    p {
      margin-bottom: 2vh;
      text-align: center;
    }
    .errBackHome {
      margin-top: 2%;
      font-family: "Agrandir";
      font-size: 1.5rem;
      @media screen and (max-width: 900px) {
        font-size: 1.2rem;
      }
      .errNavLink {
        color: var(--accent);
      }
    }
  }
  .errImg {
    width: 40%;
    height: auto;
    margin-bottom: 5%;
    @media screen and (max-width: 900px) {
      width: 60%;
    }
    @media screen and (max-width: 720px) {
      width: 80%;
    }
  }
}
